<!DOCTYPE html>
<html>
<head>
	<title>Simulador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="App" ng-controller="Controller">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        Simulador - Duas Filas e Dois Servidores
	      </a>
	    </div>
	    <div class="collapse navbar-collapse">
	    	<form class="navbar-form navbar-right">
	    		<button class="btn btn-success active" ng-show="flagSimulation=='preSimulation'" ng-click="handleStartEndButtonClick()">Iniciar Simulação</button>

	    		<button class="btn btn-danger active"  ng-show="flagSimulation==true" ng-click="handleStartEndButtonClick()">Finalizar Simulação</button>

	    		<button class="btn btn-primary active" ng-show="flagSimulation==false" ng-click="handleStartEndButtonClick()">Preparar Nova Simulação</button>
	    	</form>
	    </div>
	  </div>
	</nav>
	
	<div class="container">
		<div class="row">
			
			<div class="col-lg-4">
				<div class="panel panel-default" style="height: 585px;">
	                <div class="panel-heading">
	                    Informações Gerais
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <div class="list-group">
	                        <a href="#" class="list-group-item">
	                            Duração da Simulação
	                            <span class="pull-right text-muted small"><em>{{SimulationTime}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            TEC1
	                            <span class="pull-right text-muted small"><em>{{TEC1}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            TEC2
	                            <span class="pull-right text-muted small"><em>{{TEC2}} ms</em>
	                            </span>
	                        </a>
	                    </div>

						<!-- SERVER 1 information -->
	                    <div class="list-group">
	                        
	                        <a href="#" class="list-group-item">
	                            {{server1.name}}
	                        </a>

	                        <a href="#" class="list-group-item">
	                            TS
	                            <span class="pull-right text-muted small"><em>{{server1.getTS()}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            Tempo Entre Falhas
	                            <span class="pull-right text-muted small"><em>{{server1.getTEntreFalhas()}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            Duração da Falha
	                            <span class="pull-right text-muted small"><em>{{server1.getTFalha()}} ms</em>
	                            </span>
	                        </a>
	                    </div>
	                    <!-- server1 information -->

	                    <!-- SERVER 2 information -->
	                    <div class="list-group">
	                        
	                        <a href="#" class="list-group-item">
	                            {{server2.name}}
	                        </a>

	                        <a href="#" class="list-group-item">
	                            TS
	                            <span class="pull-right text-muted small"><em>{{server2.getTS()}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            Tempo Entre Falhas
	                            <span class="pull-right text-muted small"><em>{{server2.getTEntreFalhas()}} ms</em>
	                            </span>
	                        </a>

	                        <a href="#" class="list-group-item">
	                            Duração da Falha
	                            <span class="pull-right text-muted small"><em>{{server2.getTFalha()}} ms</em>
	                            </span>
	                        </a>
	                    </div>
	                    <!-- server2 information -->

	                </div>
	                <!-- /.panel-body -->
	            </div>
			</div>
			<!-- col-md-4 -->
            
            <div class="col-lg-8">
            	<div class="row">
            		<div class="col-md-12">
		            	<div class="panel panel-default">
			                <div class="panel-heading">
			                    Simulação
			                </div>
			                <!-- /.panel-heading -->
			                <div class="panel-body">
			                	<table class="table table-bordered">
			                		<tr class="info">
			                			<th>Recurso</th>
			                			<th>Status</th>
			                			<th>Fila de Espera</th>
			                			<th>Tamanho Médio da Fila de Espera</th>
			                			<th>Taxa de Ocupação</th>
			                		</tr>
			                		<tr>
			                			<td>{{server1.getName()}}</td>
			                			<td 
			                				ng-class="server1.status == 'busy'? 'success' : server1.status == 'fail' ? 'danger' : ''">
			                				{{server1.status}}
			                			</td>
			                			<td>{{server1.filaEspera.length}}</td>
			                			<td>{{server1.avgFilaEsperaLength | number:2}}</td>
			                			<td>{{server1.percentBusy | number:2}}%</td>
			                		</tr>
			                		<tr>
			                			<td>{{server2.getName()}}</td>
			                			<td 
			                				ng-class="server2.status == 'busy'? 'success' : server2.status == 'fail' ? 'danger' : ''">
			                				{{server2.status}}
			                			</td>
			                			<td>{{server2.filaEspera.length}}</td>
			                			<td>{{server2.avgFilaEsperaLength | number:2}}</td>
			                			<td>{{server2.percentBusy | number:2}}%</td>
			                		</tr>
			                		<tr class="active">
			                			<td>Total</td>
			                			<td></td>
			                			<td>{{server1.filaEspera.length + server2.filaEspera.length}}</td>
			                			<td>{{(server1.avgFilaEsperaLength + server2.avgFilaEsperaLength) / 2 | number:2}}</td>
			                			<td>{{(server1.percentBusy + server2.percentBusy) / 2 | number:2}}%</td>
			                		</tr>
			                	</table>
								
								<table class="table table-bordered">
			                		<tr class="warning">
			                			<th>Entidade</th>
			                			<th>Chegadas</th>
			                			<th>Terminou</th>
			                			<th>Falhou</th>
			                			<th>Trocou Servidor</th>
			                			<th>Tempo Médio no Sistema</th>
			                			<th>Tempo Médio na Fila</th>
			                		</tr>
			                		<tr>
			                			<td>Tipo 1</td>
			                			<td>{{entidades.tipo1Chegada}}</td>
			                			<td>{{entidades.tipo1Completou}}</td>
			                			<td>{{entidades.tipo1Deletado}}</td>
			                			<td>{{entidades.tipo1TrocaServer}}</td>
			                			<td>{{entidades.tipo1AvgSystemTime/1000 | number:2}} s</td>
			                			<td>{{entidades.tipo1AvgFilaTime/1000 | number:2}} s</td>
			                		</tr>
			                		<tr>
			                			<td>Tipo 2</td>
			                			<td>{{entidades.tipo2Chegada}}</td>
			                			<td>{{entidades.tipo2Completou}}</td>
			                			<td>{{entidades.tipo2Deletado}}</td>
			                			<td>{{entidades.tipo2TrocaServer}}</td>
			                			<td>{{entidades.tipo2AvgSystemTime/1000 | number:2}} s</td>
			                			<td>{{entidades.tipo2AvgFilaTime/1000 | number:2}} s</td>
			                		</tr>
			                		<tr class="active">
			                			<td>Total</td>
			                			<td>{{entidades.tipo1Chegada + entidades.tipo2Chegada}}</td>
			                			<td>{{entidades.tipo1Completou + entidades.tipo2Completou}}</td>
			                			<td>{{entidades.tipo1Deletado + entidades.tipo2Deletado}}</td>
			                			<td>{{entidades.tipo1TrocaServer + entidades.tipo2TrocaServer}}</td>
			                			<td>{{((entidades.tipo1AvgSystemTime + entidades.tipo2AvgSystemTime)/2) / 1000 | number:2}} s</td>
			                			<td>{{((entidades.tipo1AvgFilaTime + entidades.tipo2AvgFilaTime)/2) / 1000 | number:2}} s</td>
			                		</tr>
			                	</table>

			                	<table class="table table-bordered">
									<tr class="danger">
			                			<th>Falhas</th>
			                			<th>Número de Falhas</th>
			                			<th>Tempo em Falha</th>
			                			<th>Taxa de Falha</th>
			                			
			                		</tr>
			                		<tr>
			                			<td>{{server1.getName()}}</td>
			                			<td>{{server1.falhas}}</td>
			                			<td>{{server1.tempoTotalFalhas/1000 | number:1}} s</td>
			                			<td>{{server1.percentFail | number:2}}%</td>
			                			
			                		</tr>
			                		<tr>
			                			<td>{{server2.getName()}}</td>
			                			<td>{{server2.falhas}}</td>
			                			<td>{{server2.tempoTotalFalhas/1000 | number:1}} s</td>
			                			<td>{{server2.percentFail | number:2}}%</td>
			                			
			                		</tr>
			                		<tr class="active">
			                			<td>Total</td>
			                			
			                		</tr>
			                	</table>

							</div>
		                </div> 
		                <!-- Panel -->
					</div>
					<!-- col-md-12 -->

            	</div>
            	<!-- row -->
            </div>
            <!--  col-lg-8 -->

	    </div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script type="text/javascript" src="data/config.js"></script>
	<script type="text/javascript" src="lib/randomGen.js"></script>
	<script type="text/javascript" src="lib/statistics.js"></script>
	<script type="text/javascript" src="objects/entidade.js"></script>
	<script type="text/javascript" src="objects/server.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>